#g-pointer-1,
#g-pointer-2 {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    /* Ensure events pass through */
    z-index: 1000;
    /* Ensure these are always on top */
}

#g-pointer-1 {
    width: 12px;
    height: 12px;
    background: #4caf50;
    border-radius: 50%;
    mix-blend-mode: exclusion;
    /* Blender effect */
}

#g-pointer-2 {
    width: 42px;
    height: 42px;
    background: #fff;
    border-radius: 50%;
    mix-blend-mode: exclusion;
    /* Blender effect */
    transition: 0.15s ease-out;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    // cursor: none;
    /* Hide the default cursor */
}

.landing-page {
    text-align: left;
    background-color: $emerald-complement;
    color: $neutral-light;
    font-family: $primary-font;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // padding: 20px;
    overflow-y: auto;
    mix-blend-mode: difference;
    /* Blender effect applied globally */
    // position: relative;


    header,
    footer {
        background: linear-gradient(90deg, $magenta-primary, $emerald-dark);
        padding: 20px;
        color: $neutral-light;
        text-align: center;
        position: relative;
        z-index: 10;
        /* Ensure it's above content but below the cursor */
        transition: all 0.3s ease;
        /* Smooth animation effect */

        &.g-animation {

            /* Apply hover animation to header and footer */
            &:hover {
                background: $light-magenta;
            }
        }

        .header-title {
            @include dt-page-header;
            margin: 0;
            font-weight: 700;
            font-family: $secondary-font;
        }

        footer p {
            @include dt-sub-header;
            margin: 0;
        }
    }

    .magenta-animation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin-left: 2rem;

        .letter-acronym {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: -30px;
            /* Adjust this value to reduce spacing between items */

        }

        .magenta-letter {
            display: flex;
            justify-content: center;
            /* Center the letter horizontally */
            align-items: center;
            /* Center the letter vertically */
            font-size: 6rem;
            opacity: 0;
            transform: translateY(-100%);
            animation: drop-in 0.5s ease forwards;
            animation-delay: calc(var(--index) * 0.3s);
            margin-right: 20px;

            span {
                width: 100%;
                /* Ensure the letter is centered within the width */
                color: $magenta-primary;
            }
        }

        .acronym {
            font-size: 2.5rem;
            opacity: 0;
            transform: translateX(-20px);
            animation: slide-in 0.5s ease forwards;
            animation-delay: calc(var(--index) * 0.4s + 0.5s);

            span {
                color: $neutral-light;
            }
        }
    }

    @keyframes drop-in {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slide-in {
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    main {
        flex-grow: 1;
        margin: 40px 20px;

        section {
            margin-bottom: 40px;
            text-align: left;

            h2 {
                @include dt-page-header;
                margin-bottom: 10px;
            }

            p {
                @include dt-body-large;
                line-height: 1.8;
            }
        }

        a {
            display: block;
            margin: 20px 0;
            padding: 10px 20px;
            border: 2px solid $magenta-primary;
            color: $neutral-light;
            text-decoration: none;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $light-magenta;
            }
        }
    }
}