html {
    overflow-y: auto;
}

// Landing Page Styles
// #g-pointer-1,
// #g-pointer-2 {
//     position: absolute;
//     top: 0;
//     left: 0;
//     pointer-events: none;
//     /* Ensure events pass through */
//     z-index: 1000;
//     /* Ensure these are always on top */
// }

// #g-pointer-1 {
//     width: 12px;
//     height: 12px;
//     background: #4caf50;
//     border-radius: 50%;
//     mix-blend-mode: exclusion;
//     /* Blender effect */
// }

// #g-pointer-2 {
//     width: 42px;
//     height: 42px;
//     background: #fff;
//     border-radius: 50%;
//     mix-blend-mode: exclusion;
//     /* Blender effect */
//     transition: 0.15s ease-out;
// }

.magenta-animation {
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;

    .letter-acronym {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: -50px;
        /* Adjust this value to reduce spacing between items */

    }

    .magenta-letter {
        display: flex;
        justify-content: center;
        /* Center the letter horizontally */
        align-items: center;
        /* Center the letter vertically */
        font-size: 6rem;
        opacity: 0;
        transform: translateY(-100%);
        animation: drop-in 0.5s ease forwards;
        animation-delay: calc(var(--index) * 0.3s);
        margin-right: 20px;

        span {
            width: 100%;
            /* Ensure the letter is centered within the width */
            color: $dark-magenta;
        }
    }

    .acronym {
        font-size: 2.5rem;
        opacity: 0;
        transform: translateX(-20px);
        animation: slide-in 0.5s ease forwards;
        animation-delay: calc(var(--index) * 0.4s + 0.5s);

        span {
            position: relative;
            z-index: 10000;
            color: $light-magenta;
        }
    }
}

@keyframes drop-in {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-in {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.landing-page {
    overflow-y: auto;
    background: linear-gradient(0deg,$emerald-dark,$emerald-light); // Using $emerald-light for background
    color: $neutral-dark; // Using $neutral-dark to make the text visible on green background

    // Main content
    .main-content {
        text-align: center;
        padding: 20px;

        section {
            margin-bottom: 40px;

            h2 {
                font-size: 2rem;
                color: $magenta-primary; // Using $magenta-primary for section headers
                margin-bottom: 10px;
            }

            p {
                font-size: 1.2rem;
                color: $neutral-dark; // Keeping paragraph text in $neutral-dark for contrast
            }
        }

        nav {
            display: flex;
            justify-content: center;
            gap: 15px;

            a {
                background-color: $emerald-complement; // Using $emerald-complement for buttons
                color: $neutral-dark; // Text color for buttons
                padding: 10px 20px;
                text-decoration: none;
                border-radius: 8px;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: $dark-magenta; // Darken on hover
                }
            }
        }
    }

    // Media Queries
    @include tablet {
        .magenta-animation {
            justify-content: space-between;
        }

        .main-content {
            padding: 30px;

            section {
                h2 {
                    font-size: 2.5rem;
                }

                p {
                    font-size: 1.4rem;
                }
            }
        }
    }

    @include desktop {
        .magenta-animation {
            justify-content: space-evenly;
        }

        .main-content {
            padding: 50px;

            section {
                h2 {
                    font-size: 3rem;
                }

                p {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

// LandingPage.scss
.landing-page {
    width: 100%;
    height: 100%;
}

// Fade-in animation for the hero content
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-banner {
    position: relative;
    width: 100%;
    height: 400px; // Adjust as needed for your design
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1; // Ensure it's on top of background content
  
    // Hero Banner SVG
    .hero-banner-image {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; // Ensure it covers the entire hero area
      z-index: 0;
      border: none; // Remove any border
      border: 0;    // Ensure no border is shown
      outline: none; // Also remove any outline if present
    }
  
    .hero-content {
      position: relative;
      z-index: 2; // Ensures content is on top of the SVG
      text-align: center;
  
      h1, p {
        color: $dark-magenta; // Using the colors from _colors.scss
      }
  
      // Ensure text scales nicely on smaller devices
      @include tablet {
        h1 {
          font-size: 2.5rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
  
      @include desktop {
        h1 {
          font-size: 3.5rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
    }
  }
  
  