.overall-container{
    background: linear-gradient(90deg, $emerald-dark, $magenta-primary);

}
.guestbook {
    max-width: 50rem;
    margin: 0 auto;
    padding: 1.25rem;
    text-align: center;
    // text-shadow: 0.1875rem 0.1875rem 0.375rem rgba(0, 0, 0, 0.4);


    h1, h2 {
        font-family: $secondary-font;
    }

    .guestbook-textarea {
        width: 100%;
        height: 6.25rem;
        margin-bottom: 1.25rem;
        padding: 0.625rem;
        font-size: 1rem;
        background-color: $accent-color;
        box-shadow: 0rem 0.25rem 0.625rem 0.3125rem rgba(0, 0, 0, 0.25);

    }

    .drawing-container {
        margin-bottom: 1.25rem;
    }

    .drawing-container svg{
        box-shadow: 0rem 0.25rem 0.625rem 0.3125rem rgba(0, 0, 0, 0.25);
    }
    .guestbook-submit {
        background-color: $magenta-primary;
        color: $neutral-light;
        padding: 0.625rem 1.25rem;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s;

        &:hover {
            background-color: $light-magenta;
        }
    }

    .guestbook-entries {
        margin-top: 2.5rem;
        .entry {
            padding: 0.625rem;
            border-bottom: 0.0625rem solid $neutral-light;

            img {
                max-width: 100%;
                height: auto;
                margin-top: 0.625rem;
            }
        }
    }
}
