// #g-pointer-1,
// #g-pointer-2 {
//     position: absolute;
//     top: 0;
//     left: 0;
//     pointer-events: none;
//     /* Ensure events pass through */
//     z-index: 1000;
//     /* Ensure these are always on top */
// }

// #g-pointer-1 {
//     width: 12px;
//     height: 12px;
//     background: #4caf50;
//     border-radius: 50%;
//     mix-blend-mode: exclusion;
//     /* Blender effect */
// }

// #g-pointer-2 {
//     width: 42px;
//     height: 42px;
//     background: #fff;
//     border-radius: 50%;
//     mix-blend-mode: exclusion;
//     /* Blender effect */
//     transition: 0.15s ease-out;
// }

.web-gallery {
    // padding: 40px;
    background: linear-gradient(90deg, $emerald-dark, $magenta-primary);

    /* Overview Section Styling */
    .gallery-overview {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;

        h1 {
            font-size: 2.5rem;
            color: $magenta-primary;
        }

        h2 {
            font-size: 2rem;
            color: $emerald-complement;
        }

        p {
            text-align: center;
            max-width: 800px;
            margin: 20px auto;
            line-height: 1.6;
            font-size: 1.2rem;
            color: $neutral-dark;
        }
    }

    /* Art Pieces Section */
    .gallery-artpieces {
        margin: 40px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    /* Each Art Piece */
    .artpiece {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        padding: 20px;
        // border: 1px solid $neutral-light;
        border-radius: 10px;
        background-color: $neutral-light;

        .art-content {
            flex: 1;
            max-width: 50%;

            img,
            audio,
            video {
                max-width: 100%;
                height: auto;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }

            audio {
                width: 50%;
                min-width: 300px;
                height: 40px;
                margin-top: 10px;
            }
        }

        .art-description {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 50%;

            h3 {
                margin-bottom: 10px;
                font-size: 1.8rem;
                color: $magenta-primary;
            }

            p {
                margin: 5px 0;
                line-height: 1.5;
                font-size: 1rem;
                color: $neutral-dark;

                strong {
                    font-weight: bold;
                    color: $emerald-complement;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .artpiece {
            flex-direction: column;
        }

        .art-content,
        .art-description {
            max-width: 100%;
        }
    }
}
