.web-gallery {
    background: linear-gradient(90deg, $emerald-dark, $magenta-primary);

    .gallery-overview {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        text-align: center;

        h1 {
            font-size: 2.5rem;
            color: $neutral-light;
        }

        h2 {
            font-size: 2rem;
            color: $neutral-dark;
        }

        p {
            text-align: center;
            max-width: 50rem;
            margin: 1.25rem auto;
            line-height: 1.6;
            font-size: 1.2rem;
            color: $accent-color;
        }
    }

    .gallery-artpieces {

        margin: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
    }

    .artpiece {
        
        padding: 1.25rem;
        background-color: transparent;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
        gap: 2rem; /* Adjust gap between items */

        .art-content {
            padding-top: 3rem;
            border-top: solid 2px $accent-color;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Grid layout for media */
            justify-items: center;
            align-items: center;
            gap: 2rem; /* Gap between media */
            box-sizing: border-box; /* Ensure border does not affect grid layout */


            img,
            video {
                width: 300px; /* Thumbnail size */
                height: auto;
                cursor: pointer;
                // border-radius: 0.5rem;
                box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
                transition: transform 0.3s ease, box-shadow 0.3s ease;
            }

            img.enlarged,
            video.enlarged {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); /* Enlarged media */
                z-index: 1000;
                width: auto; /* Original full size */
                max-width: 90%; /* Make sure it doesn't overflow screen */
                max-height: 90%;
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
            }
        }

        .art-description {
            border-top: solid 2px $accent-color;
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box; /* Ensure border does not affect layout */


            h3 {
                margin-bottom: 0.625rem;
                font-size: 1.8rem;
                color: $accent-color;
            }

            p {
                margin: 0.3125rem 0;
                line-height: 1.5;
                font-size: 1rem;
                color: $neutral-light;

                strong {
                    font-weight: bold;
                    color: $emerald-complement;
                }
            }
        }
    }
}
