.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, $emerald-dark, $magenta-primary);
    padding: 20px;
    color: #fff;
    position: relative; /* Position the header relative to place the modal */

    .logo {
        font-size: 1.5rem;
        font-weight: bold;
        a {
            text-decoration: none;
            color: #fff;
        }
    }

    .navigation {
        display: flex;
        gap: 20px;

        a {
            text-decoration: none;
            color: #fff;
            font-size: 1.2rem;
            &:hover {
                color: #ccc;
            }
        }
    }
}