.overall-container{
    background: linear-gradient(90deg, $emerald-dark, $magenta-primary);

}

.artist-submission-form {
    max-width: 50rem;
    margin: 0 auto;
    padding: 1.875rem;
    background-color: $neutral-light;
    border-radius: 0.625rem;
    box-shadow: 0rem 0.25rem 0.625rem 0.3125rem rgba(0, 0, 0, 0.25);

    h1 {
        text-align: center;
        color: #333;
        margin-bottom: 1.25rem;
        font-family: 'Arial', sans-serif;
    }

    p {
        text-align: center;
        margin-bottom: 1.875rem;
        font-size: 1rem;
    }

    .form-group {
        margin-bottom: 1.25rem;

        label {
            font-size: 0.875rem;
            color: #333;
            font-weight: bold;
            display: block;
            margin-bottom: 0.3125rem;
        }

        input[type="text"],
        input[type="email"],
        input[type="url"],
        input[type="file"],
        textarea {
            width: 100%;
            padding: 0.75rem;
            font-size: 1rem;
            border: 0.0625rem solid #ccc;
            border-radius: 0.3125rem;
            box-sizing: border-box;
            transition: border-color 0.3s ease;
            background-color: white;

            &:focus {
                border-color: #007bff;
                outline: none;
                box-shadow: 0 0 0.3125rem rgba(0, 123, 255, 0.5);
            }
        }

        textarea {
            resize: vertical;
            min-height: 6.25rem;
        }

        input[type="file"] {
            padding: 0.3125rem;
        }
    }

    .submit-btn {
        background-color: #007bff;
        color: white;
        padding: 0.75rem 1.25rem;
        font-size: 1.125rem;
        border: none;
        border-radius: 0.3125rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #0056b3;
        }

        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
    }

    .error-message {
        color: red;
        font-size: 0.875rem;
        margin-top: -0.625rem;
        margin-bottom: 0.625rem;
    }

    @media (max-width: 37.5rem) {
        padding: 1.25rem;

        .submit-btn {
            width: 100%;
            padding: 0.75rem;
            font-size: 1rem;
        }
    }
}