@forward './styles/colors';
@forward './styles/fonts';
@forward './styles/media-queries';
@forward './styles/typography';
@forward './styles/mixins';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #root {
  height: 100%;
}

#g-pointer-1,
#g-pointer-2 {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1000;
}

#g-pointer-1 {
    width: 0.75rem;
    height: 0.75rem;
    background: #4caf50;
    border-radius: 50%;
    mix-blend-mode: exclusion;
}

#g-pointer-2 {
    width: 2.625rem;
    height: 2.625rem;
    background: #fff;
    border-radius: 50%;
    mix-blend-mode: exclusion;
    transition: 0.15s ease-out;
}